.pay-is-invalid {
  font-size: 12px !important;
}

.card-data-input {
  border: 1px #c0c0c0 solid !important;
  border-radius: 0.5rem;
}

.is-invalid {
  border: 2px #d11414 solid !important;
  border-radius: 1rem;
}

.MuiPaper-root {
  border: none !important;
}

.card-attribute {
  align-self: center !important;
  margin-bottom: 10px;
}

.card-attribute-group {
  margin-bottom: 20px;
}

.card-attribute-input-group {
  padding-left: 30px !important;
}

.rccs__card {
  width: 100% !important;
  max-width: 290px !important;
}

.rccs {
  width: 100% !important;
  max-width: 290px;
}

.credit-card-container {
  overflow-x: visible;
  padding: 0px;
}

input.card-attribute {
  border: 1px #c0c0c0 solid !important;
  min-height: 35px;
  border-radius: 0.2rem;
}

.Content_Container__xhjD8 {
  width: max-content !important;
}
